.reset-container {
  width: 327px;
  margin: 0px auto;
}

.reset-container button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border: 0px;
  background: #029247;
  border-radius: 24px;
  padding: 10px 32px;
  margin: 48px auto 0px;
  display: block;
  letter-spacing: -0.05em;
  color: #ffffff;
}
