.login-container {
  width: 100%;
  background: #02bb5b;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

.login-cont {
  width: 50%;
  max-width: 720px;
  margin: 0px auto;
  padding: 100px 0px;
}

@media screen and (max-width: 871px) {
  .login-cont {
    width: 70%;
  }
}

@media screen and (max-width: 623px) {
  .login-cont {
    width: 85%;
  }
}
