.customer-table div{
    width: 100%;
    padding: 6px 9px;
}
.searchInput{
    padding: 17px 60px;
    background: #F6F6F6;
    border: none;
    border-radius: 100px;
    width: 299px;
}
.dashboard-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}
.total-table{
    display: none;
}
.customer-form{
    width: 89%;
}
.dashboard-search-svg{
    margin-right: -50px;
    /* margin-top: 15px; */
    position: relative;
    z-index: 8 !important;
}
.dashboard-form{
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.adminTable-table{
    display: flex;
    align-items: center;
    cursor: pointer;
}