.user-wallet-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.user-wallet-group {
  width: 49%;
}

.user-wallet-wrapper {
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.user-wallet-total {
  width: 48%;
}

.user-wallet-wrappers,
.user-wallet-start {
  width: 49%;
}

@media screen and (max-width: 600px) {
  .user-wallet-container {
    flex-direction: column;
    width: 100%;
  }

  .user-wallet-group,
  .user-wallet-wrapper,
  .user-wallet-wrappers,
  .user-wallet-start {
    width: 100%;
  }

  .user-wallet-wrapper,
  .user-wallet-wrappers {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .user-wallet-wrapper {
    flex-direction: column;
  }

  .user-wallet-total {
    width: 100%;
    margin-top: 20px;
  }

  .user-wallet-total:first-child {
    margin-top: 0px;
  }
}
