.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.second-section {
  width: 49%;
}

.second-section img {
  margin-top: 16px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .dashboard-container {
    flex-direction: column;
  }

  .second-section {
    width: 100%;
  }
}
