.dashboard-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-category h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #1c1d21;
}

.dashboard-category .days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.days-active {
  background: #ccf2d5;
  border-radius: 8px;
  padding: 5px 9px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #01612f;
}

.single-days {
  border: 1px solid #bababb;
  border-radius: 8px;
  padding: 5px 9px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #98989a;
}
