.dashboard-help-container {
  width: 49%;
  padding: 24px 0px;
  background: #ffffff;
  border-radius: 16px;
}

.dashboard-help-wrapper {
  width: 91%;
  margin: 0px auto;
}

@media screen and (max-width: 1200px) {
  .dashboard-help-container {
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
}
