.wallet-filter-cont {
  background: #f6f6f6;
  border-radius: 100px;
  width: 100%;
  padding: 8px 0px;
  position: relative;
}

.wallet-filter-cont p {
  width: 79%;
  margin: 0px auto;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #98989a;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wallet-filter-cont span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-left: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}

.wallet-filter-cont span img {
  margin-left: 8px;
}

.filter-cont {
  position: absolute;
  top: 0;
  left: 35%;
  background: #ffffff;
  width: 62%;
  padding-top: 16px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  border-radius: 8px;
}

.filter-cont p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 16px;
  letter-spacing: -0.05em;
  color: #4c4d50;
}
