.popup-container {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(40, 49, 43, 0.4);
  backdrop-filter: blur(5.5px);
}

.no-show {
  display: none;
}

.popup-cont {
  width: 39%;
  margin: 0px auto;
  background: #ffffff;
  border-radius: 16px;
  max-width: 558px;
  position: absolute;
  top: 30%;
  left: 35%;
  padding: 32px 0px;
}

.popup-body {
  width: 70%;
  margin: 0px auto;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
}

.popup-header p {
  text-align: center;
  width: 98%;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #4c4d50;
}

.popup-header img {
  cursor: pointer;
}
