.card-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-header-wrapper,
.card-manage {
  width: 49%;
}

.card-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-header-single {
  width: 48%;
}

.card-manage {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px 0px;
}

.card-manage-single {
  width: 91%;
  margin: 0px auto;
}

.card-manage-single h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #1c1d21;
}

@media screen and (max-width: 600px) {
  .card-header-container {
    flex-direction: column;
  }

  .card-header-wrapper,
  .card-manage {
    width: 100%;
  }

  .card-manage {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .card-header-wrapper {
    flex-direction: column;
  }

  .card-header-single {
    width: 100%;
    margin-top: 20px;
  }

  .card-header-single:first-child {
    margin-top: 0px;
  }
}
