.report-form-container {
  margin: 32px auto 0px;
  width: 65%;
}

.report-form-button {
  margin: 0px auto;
  width: 49%;
}

@media screen and (max-width: 600px) {
  .report-form-button {
    width: 100%;
  }
}
