.navbar-container {
  background: #ffffff;
  border-left: 1px solid #bababb;
  border-bottom: 1px solid #bababb;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0px auto;
  padding: 21px 0px;
}

.navbar-head h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 8px;
  color: #000000;
}

.navbar-head p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #56b684;
}

.middle-cont {
  display: flex;
  align-items: center;
  width: 34%;
  max-width: 400px;
  justify-content: space-between;
}

.search-bar {
  width: 80%;
  background: #f6f6f6;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.search-bar input {
  width: 100%;
  border: none;
  padding-left: 20px;
  background-color: transparent;
}

.search-bar input:focus {
  border: none;
  outline: none;
}

.notification-cont {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  border-radius: 50%;
}

.user-img {
  display: flex;
  align-items: center;
}

.user-img h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 16px;
  background: #d0f6df;
  border-radius: 100px;
  color: #027a3b;
}

.user-img div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.user-img img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
