.report-table-head,
.report-table-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.report-table-head p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 20%;
  letter-spacing: -0.05em;
  color: #98989a;
}

.report-table-body {
  border-top: 1px solid #e8eaed;
  cursor: pointer;
}

.report-table-body p {
  font-style: normal;
  font-weight: 400;
  width: 20%;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #1f2024;
  text-align: left;
  padding: 27px 0px;
}

.report-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.report-filter-single {
  width: 49%;
}

.report-table-body span {
  border-radius: 24px;
  padding: 4px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.report-download span {
  background: #029247;
}

.report-draft span {
  background: #e88200;
}
