.user-health-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-health-single {
  width: 49%;
}

.user-health-group {
  width: 23%;
}

.user-health-body {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.user-health-app,
.user-health-manage {
  width: 49%;
}
