.wallet-table {
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  margin-top: 32px;
  padding: 24px 0px;
}

.wallet-table-single {
  width: 97%;
  margin: 0px auto;
}

.wallet-table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet-search {
  display: flex;
  width: 41%;
  justify-content: space-between;
  align-items: center;
}

.wallet-search h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #4c4d50;
}

.wallet-searchs {
  display: flex;
  width: 48%;
  justify-content: space-between;
  align-items: center;
}

.wallet-searchs h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #4c4d50;
}

.wallet-search-cont {
  display: flex;
  align-items: center;
  width: 66%;
  background: #f6f6f6;
  border-radius: 100px;
  padding: 9px 16px;
}

.wallet-search-cont input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #98989a;
}

.wallet-search-cont input:focus {
  border: none;
  outline: none;
}

.wallet-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26%;
}
.wallet-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}

.wallet-filters-single {
  width: 30%;
}

.wallet-filter-singles {
  width: 61%;
}

.wallet-filter h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border: 1px solid #217c38;
  border-radius: 24px;
  padding: 8px 16px;
  cursor: pointer;
  letter-spacing: -0.05em;
  color: #029247;
}

.wallet-table-bodys {
  margin-top: 48px;
}

.wallet-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0px auto;
  padding: 16px 4px;
  border-top: 1px solid #e8eaed;
  cursor: pointer;
}

.wallet-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  letter-spacing: -0.05em;
  color: #1f2024;
}

.wallet-wrapper p:nth-child(2),
.wallet-wrapper p:nth-child(3) {
  width: 25%;
}

.wallet-wrappers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0px auto;
  padding: 16px 4px;
}

.wallet-wrappers-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.05em;
  color: #98989a;
  width: 14%;
}

.wallet-wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0px auto;
  padding: 16px 4px;
  border-top: 1px solid #e8eaed;
}

.wallet-wrappers p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  width: 14%;
  letter-spacing: -0.05em;
  color: #1f2024;
}

.wallet-success span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  padding: 4px 8px;
  background: #2eae4e;
  border-radius: 24px;
  letter-spacing: -0.05em;
  color: #ffffff !important;
}

.wallet-failure span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  background: #ff170a;
  border-radius: 24px;
  padding: 4px 8px;
  align-items: center;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  display: none;
}

@media screen and (max-width: 600px) {
  .wallet-table-head {
    flex-direction: column;
  }

  .wallet-search,
  .wallet-searchs {
    width: 100%;
  }

  .wallet-filter,
  .wallet-filters {
    width: 100%;
    margin-top: 20px;
  }

  .wallet-table-bodys {
    display: none;
  }

  .wallet-filters {
    flex-direction: column;
  }

  .wallet-filters-single {
    width: 100%;
    margin-bottom: 20px;
  }
}
