.first-section {
  width: 49%;
}

.first-section-single {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.top-section {
  width: 48%;
}

@media screen and (max-width: 1200px) {
  .first-section {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .first-section-single {
    flex-direction: column;
  }

  .top-section {
    width: 100%;
    margin-top: 16px;
  }
}
