.container-wrapper {
  width: 49%;
  padding: 24px 0px;
  background: #ffffff;
  border-radius: 8px;
}

.container-single {
  width: 91%;
  margin: 0px auto;
}

@media screen and (max-width: 600pc) {
  .container-wrapper {
    width: 100%;
  }
}
