.login-wrapper {
  background: #ffffff;
  border-radius: 16px;
  width: 100%;
}

.login-single {
  width: 78%;
  max-width: 560px;
  margin: 0px auto;
  padding: 56px 0px;
}

.login-single > img {
  margin: 0px auto;
  display: block;
}

.login-single h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  margin: 64px 0px 16px;
  text-align: center;
  color: #1c1d21;
}

.login-single > p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #98989a;
}

.login-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.login-head h3 {
  width: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  color: #4c4d50;
  cursor: pointer;
  padding-bottom: 16px;
}

.login-head .login-active {
  color: #029247;
  border-bottom: 2px solid #029247;
}

.forgot-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: #029247;
  margin-top: 16px;
}

.login-button {
  margin-top: 48px;
}
