.order-container {
  width: 72%;
  margin: 0px auto;
}

.order-container h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 36px 0px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #98989a;
}

.order-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
  border-bottom: 1px solid #e8eaed;
}

.order-single:last-child {
  border: 0px;
}

.order-single p:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.05em;
  color: #98989a;
}

.order-single p:last-child {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  width: 60%;
  text-align: left;
  letter-spacing: -0.05em;
  color: #1f2024;
}

.order-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.order-buttons button:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  padding: 10px 32px;
  border: 1px solid #1c1d21;
  border-radius: 24px;
  background-color: white;
  letter-spacing: -0.05em;
  color: #1c1d21;
  cursor: pointer;
}

.order-buttons button:last-child {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  background: #029247;
  border-radius: 24px;
  padding: 10px 32px;
  border: 0px;
  cursor: pointer;
  letter-spacing: -0.05em;
  color: #ffffff;
}
