.manage-customer-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manage-customer-single {
  width: 24%;
}

@media screen and (max-width: 600px) {
  .manage-customer-head {
    flex-direction: column;
  }

  .manage-customer-single {
    width: 100%;
    margin-top: 20px;
  }

  .manage-customer-single:first-child {
    margin-top: 0px;
  }
}
